doc/xml/inet-draft-xfb-rfc/xfb_schema_v4.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="urn:ietf:params:xml:ns:xfb-0.4"
	xmlns="urn:ietf:params:xml:ns:xfb-0.4"
	xmlns:xfb="urn:ietf:params:xml:ns:xfb-0.4"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>
			XML Format for BGP Information v0.4, see RFC XXX
		</xs:documentation>
	</xs:annotation>

	<xs:element name="BGP_MESSAGE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xfb:TIME" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="xfb:PEERING" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="xfb:ASCII_MSG" maxOccurs="1"/>
				<xs:element ref="xfb:OCTET_MSG" maxOccurs="1"/>
				<xs:any/>
			</xs:sequence>
			<xs:attribute type="xs:string" name="version" fixed="0.4" use="required"/>
			<xs:attribute use="required" name="length" type="xs:nonNegativeInteger"/>
			<xs:attribute use="required" name="xmlns" fixed="urn:ietf:params:xml:ns:xfb-0.4" type="xs:string"/>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

	<xs:element name="TIME">
		<xs:complexType>
			<xs:attribute name="timestamp" type="xs:long" use="required"/>
			<xs:attribute name="datetime" type="xs:dateTime" use="required"/>
			<xs:attribute name="precision_time" type="xs:long" use="required"/>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

	<xs:element name="PEERING">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SRC_ADDR" type="xfb:address"/>
				<xs:element name="SRC_PORT" type="xfb:port"/>
				<xs:element name="SRC_AS" type="xfb:asn"/>
				<xs:element name="DST_ADDR" type="xfb:address"/>
				<xs:element name="DST_PORT" type="xfb:port"/>
				<xs:element name="DST_AS" type="xfb:asn"/>
				<xs:any/>
			</xs:sequence>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

	<xs:element name="OCTET_MSG">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OCTETS" type="xs:hexBinary"/>
			</xs:sequence>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

	<xs:element name="ASCII_MSG">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MARKER" type="xs:hexBinary" minOccurs="1" maxOccurs="1"/>
				<!--<xs:element name="TYPE" type="xfb:enum_bgp_type" minOccurs="1" maxOccurs="1"/>-->
				<xs:choice>
					<xs:element ref="xfb:OPEN"/>
					<xs:element ref="xfb:UPDATE"/>
					<xs:element ref="xfb:NOTIFICATION"/>
					<xs:element ref="xfb:KEEPALIVE"/>
					<xs:element ref="xfb:ROUTE_REFRESH"/>
					<xs:element ref="xfb:UNKNOWN"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="length" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="code" type="xs:nonNegativeInteger"/>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

<!-- Defintion of the Open message.  All fields are required except Optional Parameters -->
	<xs:element name="OPEN">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="VERSION" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
				<xs:element name="SRC_AS" type="xfb:asn" minOccurs="1" maxOccurs="1"/>
				<xs:element name="HOLD_TIME" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
				<xs:element name="OPT_PAR_LEN" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
				<xs:element name="BGP_ID" type="xfb:address" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="xfb:OPT_PAR"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

<!-- Definition of the Optional Parameters container field -->
	<xs:element name="OPT_PAR">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="xfb:PARAMETER"/>
			</xs:sequence>
			<xs:anyAttribute/>
		</xs:complexType> 
	</xs:element>

<!-- Definition of an individual Optional Parameter.  Authentication and Capabilities are included. -->
	<xs:element name="PARAMETER">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TYPE" type="xfb:enum_par_type" minOccurs="1" maxOccurs="1"/>
				<xs:choice>
					<xs:element ref="xfb:AUTHENTICATION"/>
					<xs:element ref="xfb:CAPABILITIES"/>
					<xs:element ref="xfb:OTHER"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute use="required" name="length" type="xs:nonNegativeInteger"/>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

<!-- Authentication element.  Deprecated in BGP-4, but included for compatibility -->
	<xs:element name="AUTHENTICATION">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:hexBinary">
					<xs:attribute name="code" type="xs:string"/>
					<xs:anyAttribute/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

<!-- Capabilities announcement element.  Defined in RFC 5492.  Included for completeness -->
	<xs:element name="CAPABILITIES">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="CAP">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CODE" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="DATA" type="xs:string" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
						<xs:attribute use="required" name="length" type="xs:long"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

<!-- element that preserves unknown data -->
	<xs:element name="UNKNOWN" type="xs:hexBinary"/>

<!-- Definition of the update message -->
	<xs:element name="UPDATE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xfb:WITHDRAWN"/>
				<xs:element ref="xfb:PATH_ATTRIBUTES"/>
				<xs:element ref="xfb:NLRI"/>
			</xs:sequence>
			<xs:attribute use="required" name="withdrawn_len" type="xs:nonNegativeInteger"/>
			<xs:attribute use="required" name="path_attributes_len" type="xs:nonNegativeInteger"/>
		</xs:complexType>
	</xs:element>

<!-- definition of the Path Attributes container field -->
	<xs:element name="PATH_ATTRIBUTES">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="xfb:ATTRIBUTE"/>
			</xs:sequence>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

<!-- definition of an individual path attribute -->
	<xs:element name="ATTRIBUTE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FLAGS">
					<xs:complexType>
						<xs:attribute name="OPTIONAL" type="xs:boolean"/>
						<xs:attribute name="TRANSITIVE" type="xs:boolean"/>
						<xs:attribute name="PARTIAL" type="xs:boolean"/>
						<xs:attribute name="EXTENDED" type="xs:boolean"/>
						<xs:anyAttribute/>
					</xs:complexType>
				</xs:element>
				<xs:element name="TYPE" type="xfb:enum_attr_type" minOccurs="1" maxOccurs="1"/>
				<xs:choice>
					<xs:element ref="xfb:ORIGIN"/>
					<xs:element ref="xfb:AS_PATH"/>
					<xs:element ref="xfb:NEXT_HOP"/>
					<xs:element ref="xfb:MULTI_EXIT_DISC"/>
					<xs:element ref="xfb:LOCAL_PREF"/>
					<xs:element ref="xfb:ATOMIC_AGGREGATE"/>
					<xs:element ref="xfb:AGGREGATOR"/>
					<xs:element ref="xfb:COMMUNITIES"/>
					<xs:element ref="xfb:ORIGINATOR_ID"/>
					<xs:element ref="xfb:CLUSTER_LIST"/>
					<xs:element ref="xfb:ADVERTISER"/>
					<xs:element ref="xfb:RCID_PATH"/>
					<xs:element ref="xfb:MP_REACH_NLRI"/>
					<xs:element ref="xfb:MP_UNREACH_NLRI"/>
					<xs:element ref="xfb:EXTENDED_COMMUNITIES"/>
					<xs:element ref="xfb:AS4_PATH"/>
					<xs:element ref="xfb:AS4_AGGREGATOR"/>
					<xs:element ref="xfb:TUNNEL_ENCAP"/>
					<xs:element ref="xfb:TRAFFIC_ENGR"/>
					<xs:element ref="xfb:OTHER"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute use="required" name="length" type="xs:long"/>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

<!-- Definitions of path attribute classes. -->
	<xs:element name="ORIGIN">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xfb:enum_origin_type">
					<xs:attribute name="code" type="xs:nonNegativeInteger" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="AS_PATH" type="xfb:as_path"/>

	<xs:element name="NEXT_HOP" type="xfb:address"/>

	<xs:element name="MULTI_EXIT_DISC" type="xs:integer"/>

	<xs:element name="LOCAL_PREF" type="xs:integer"/>

	<xs:element name="ATOMIC_AGGREGATE"/>

	<xs:element name="AGGREGATOR" type="xfb:aggregator"/>

	<xs:element name="COMMUNITIES">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="NO_EXPORT"/>
				<xs:element name="NO_ADVERTISE"/>
				<xs:element name="NO_EXPORT_SUBCONFED"/>
				<xs:element ref="xfb:COMMUNITY"/>
				<xs:element ref="xfb:RESERVED_COMMUNITY"/>
			</xs:choice>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

	<xs:element name="COMMUNITY" type="xfb:community_type"/>

	<xs:element name="RESERVED_COMMUNITY" type="xfb:community_type"/>

	<xs:element name="ORIGINATOR_ID" type="xs:integer"/>

	<xs:element name="CLUSTER_LIST">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

	<xs:element name="ADVERTISER" type="xfb:address"/>

	<xs:element name="RCID_PATH">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

	<xs:element name="MP_REACH_NLRI">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NEXT_HOP_LEN" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="xfb:NEXT_HOP"/>
				<xs:element name="AFI" type="xfb:afi_element" minOccurs="1" maxOccurs="1"/>
				<xs:element name="SAFI" type="xfb:safi_element" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="xfb:NLRI"/>
			</xs:sequence>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

	<xs:element name="MP_UNREACH_NLRI">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AFI" type="xfb:afi_element"/>
				<xs:element name="SAFI" type="xfb:safi_element"/>
				<xs:element ref="xfb:WITHDRAWN"/>
			</xs:sequence>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

	<xs:element name="EXTENDED_COMMUNITIES">
		<xs:complexType>
			<xs:choice>
				<xs:element name="EXT_COM" type="xfb:ext_community_type" maxOccurs="unbounded"/>
				<xs:element name="IPV6_SPECIFIC_EXT_COM" type="xfb:ipv6_ext_community_type" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

	<xs:element name="AS4_PATH" type="xfb:as_path"/>

	<xs:element name="AS4_AGGREGATOR" type="xfb:aggregator"/>

	<xs:element name="TUNNEL_ENCAP">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ENCAP" type="xfb:encap_tlv" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

	<xs:element name="TRAFFIC_ENGR">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ENGR" type="xfb:engr" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

<!-- Unrecognized attributes are preserved as binary data -->
	<xs:element name="OTHER">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OCTETS" type="xs:hexBinary"/>
			</xs:sequence>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

<!-- Definitions of variable-length fields in update message -->
	<xs:element name="WITHDRAWN" type="xfb:prefixes"/>

	<xs:element name="NLRI" type="xfb:prefixes"/>

<!-- Definition of Notification message format -->
	<xs:element name="NOTIFICATION">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="1" name="CODE" type="xfb:error_code_element"/>
				<xs:element minOccurs="0" maxOccurs="1" name="SUBCODE" type="xfb:error_subcode_element"/>
				<xs:element name="DATA" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="error_code" type="xs:nonNegativeInteger" use="optional"/>
			
			<xs:attribute use="optional" name="error_subcode" type="xs:nonNegativeInteger"/>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>

<!-- Definition of Keepalive message.  Has no fields or attributes. -->
	<xs:element name="KEEPALIVE"/>

<!-- Definition of Route Refresh Message -->
	<xs:element name="ROUTE_REFRESH">
		<xs:complexType>
			<xs:all>
				<xs:element name="AFI" type="xfb:afi_element"/>
				<xs:element name="SAFI" type="xfb:safi_element"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

<!-- Type definitions used above -->
	<xs:complexType name="address">
		<xs:all>
			<xs:element name="ADDRESS" type="xs:string"/>
			<xs:element name="AFI" type="xfb:afi_element" minOccurs="0"/>
			<xs:element name="SAFI" type="xfb:safi_element" minOccurs="0"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="prefix">
		<xs:all>
			<xs:element name="ADDRESS" type="xs:string"/>
			<xs:element name="AFI" type="xfb:afi_element" minOccurs="0"/>
			<xs:element name="SAFI" type="xfb:safi_element" minOccurs="0"/>
		</xs:all>
		<xs:attribute name="length" type="xs:nonNegativeInteger" use="optional"/>
	</xs:complexType>

	<xs:complexType name="prefixes">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" type="xfb:prefix" name="PREFIX"/>
		</xs:sequence>
		<xs:anyAttribute/>
	</xs:complexType>

	<xs:simpleType name="port">
		<xs:restriction base="xs:integer">
			<xs:maxInclusive value="65535"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

<!--Added allowable range for AS numbers, including 4-byte -->
	<xs:simpleType name="asn">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="4294967295"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="as_seg">
		<xs:sequence>
			<xs:element name="AS" type="xfb:asn" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="xfb:enum_as_path_type" use="required"/>
		<xs:attribute name="length" type="xs:nonNegativeInteger" use="optional"/>
	</xs:complexType>

	<xs:complexType name="as_path">
		<xs:sequence>
			<xs:element name="AS_SEG" type="xfb:as_seg" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="aggregator">
		<xs:all>
			<xs:element name="AS" type="xfb:asn"/>
			<xs:element name="ADDR" type="xfb:address" minOccurs="1" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="community_type">
		<xs:sequence>
			<xs:element name="AS" type="xfb:asn"/>
			<xs:element name="VALUE" type="xs:nonNegativeInteger"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ext_community_type">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string"/>
			<xs:element name="SUBTYPE" type="xs:string"/>
			<xs:element name="VALUE" type="xs:hexBinary"/>
			<xs:any/>
		</xs:sequence>
		<xs:attribute name="transitive" type="xs:boolean"/>
		<xs:anyAttribute/>
	</xs:complexType>

	<xs:complexType name="ipv6_ext_community_type">
		<xs:sequence>
			<xs:element name="SUBTYPE" type="xs:string"/>
			<xs:element name="IPV6_ADDR" type="xs:string"/>
			<xs:element name="LOCAL" type="xfb:octets_attribute"/>
		</xs:sequence>
		<xs:attribute name="transitive" type="xs:boolean"/>
		<xs:anyAttribute/>
	</xs:complexType>

	<xs:complexType name="encap_tlv">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string"/>
			<xs:element name="TLV" type="xfb:tlv" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="length" type="xs:nonNegativeInteger"/>
		<xs:anyAttribute/>
	</xs:complexType>

	<xs:complexType name="tlv">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string"/>
			<xs:any maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="engr">
		<xs:sequence>
			<xs:element name="SWITCH_CAP" type="xs:string"/>
			<xs:element name="ENCODING" type="xs:string"/>
			<xs:element name="MAX_LSP_BANDWIDTH" type="xs:integer"/>
			<xs:element name="MAX_LSP_BANDWIDTH" type="xs:integer"/>
			<xs:element name="MAX_LSP_BANDWIDTH" type="xs:integer"/>
			<xs:element name="MAX_LSP_BANDWIDTH" type="xs:integer"/>
			<xs:element name="MAX_LSP_BANDWIDTH" type="xs:integer"/>
			<xs:element name="MAX_LSP_BANDWIDTH" type="xs:integer"/>
			<xs:element name="MAX_LSP_BANDWIDTH" type="xs:integer"/>
			<xs:element name="MAX_LSP_BANDWIDTH" type="xs:integer"/>
			<xs:any maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute/>
	</xs:complexType>

	<xs:complexType name="octets_attribute">
		<xs:sequence>
			<xs:element type="xs:hexBinary" name="OCTETS"/>
		</xs:sequence>
		<xs:anyAttribute/>
	</xs:complexType>

	<xs:complexType name="afi_element">
		<xs:sequence>
			<xs:element type="xfb:enum_afi_type" name="AFI" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:nonNegativeInteger"/>
	</xs:complexType>

	<xs:complexType name="safi_element">
		<xs:sequence>
			<xs:element type="xfb:enum_safi_type" name="SAFI" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:nonNegativeInteger"/>
	</xs:complexType>

	<xs:complexType name="error_code_element">
		<xs:sequence>
			<xs:element type="xfb:enum_error_type" name="CODE" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:nonNegativeInteger"/>
	</xs:complexType>

	<xs:complexType name="error_subcode_element">
		<xs:sequence>
			<xs:element type="xfb:enum_suberror_type" name="SUBCODE" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:nonNegativeInteger"/>
	</xs:complexType>

	<xs:simpleType name="enum_origin_type">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="IGP"/>
			<xs:enumeration value="EGP"/>
			<xs:enumeration value="INCOMPLETE"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enum_par_type">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="AUTHENTICATION"/>	<!-- Deprecated -->
			<xs:enumeration value="CAPABILITIES"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enum_bgp_type">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="OPEN"/>
			<xs:enumeration value="UPDATE"/>
			<xs:enumeration value="NOTIFICATION"/>
			<xs:enumeration value="KEEPALIVE"/>
			<xs:enumeration value="ROUTE_REFRESH"/>
			<xs:enumeration value="UNKNOWN"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enum_afi_type">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="IPV4"/>
			<xs:enumeration value="IPV6"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enum_as_path_type">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="as_sequence"/>
			<xs:enumeration value="as_set"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enum_safi_type">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="NLRI_UNICAST"/>
			<xs:enumeration value="NLRI_MULTICAST"/>
			<xs:enumeration value="NLRI_MPLS"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enum_error_type">
		<xs:restriction base="xs:string">
<!-- Error Codes -->
			<xs:enumeration value="MESSAGE HEADER ERROR"/>
			<xs:enumeration value="OPEN MESSAGE ERROR"/>
			<xs:enumeration value="UPDATE MESSAGE ERROR"/>
			<xs:enumeration value="HOLD TIMER EXPIRED"/>
			<xs:enumeration value="FINITE STATE MACHINE ERROR"/>
			<xs:enumeration value="CEASE"/>
			<xs:enumeration value="UNKNOWN ERROR"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enum_suberror_type">
		<xs:restriction base="xs:string">
<!-- Message Header Error Subcodes -->
			<xs:enumeration value="CONNECTION NOT SYNCHRONIZED"/>
			<xs:enumeration value="BAD MESSAGE LENGTH"/>
			<xs:enumeration value="BAD MESSAGE TYPE"/>
<!-- OPEN Message Error Subcodes -->
			<xs:enumeration value="UNSUPPORTED VERSION NUMBER"/>
			<xs:enumeration value="BAD PEER AS"/>
			<xs:enumeration value="BAD BGP IDENTIFIER"/>
			<xs:enumeration value="UNSUPPORTED OPTIONAL PARAMETER"/>
			<xs:enumeration value="AUTHENTICATION FAILURE"/>	<!-- Deprecated -->
			<xs:enumeration value="UNACCEPTABLE HOLD TIME"/>
			<xs:enumeration value="UNSUPPORTED CAPABILITY"/>	<!-- Added by RFC 5492 -->
<!-- UPDATE Message Error Subcodes -->
			<xs:enumeration value="MALFORMED ATTRIBUTE LIST"/>
			<xs:enumeration value="UNRECOGNIZED WELL-KNOWN ATTRIBUTE"/>
			<xs:enumeration value="MISSING WELL-KNOWN ATTRIBUTE"/>
			<xs:enumeration value="ATTRIBUTE FLAGS ERROR"/>
			<xs:enumeration value="ATTRIBUTE LENGTH ERROR"/>
			<xs:enumeration value="INVALID ORIGIN ATTRIBUTE"/>
			<xs:enumeration value="AS ROUTING LOOP"/>		<!--Deprecated -->
			<xs:enumeration value="INVALID NEXT_HOP ATTRIBUTE"/>
			<xs:enumeration value="OPTIONAL ATTRIBUTE ERROR"/>
			<xs:enumeration value="INVALID NETWORK FIELD"/>
			<xs:enumeration value="MALFORMED AS_PATH"/>
<!-- CEASE NOTIFICATION message Subcodes (added by RFC 4486) -->
			<xs:enumeration value="MAXIMUM NUMBER OF PREFIXES REACHED"/>
			<xs:enumeration value="ADMINISTRATIVE SHUTDOWN"/>
			<xs:enumeration value="PEER DE-CONFIGURED"/>
			<xs:enumeration value="ADMINISTRATIVE RESET"/>
			<xs:enumeration value="CONNECTION REJECTED"/>
			<xs:enumeration value="OTHER CONFIGURATION CHANGE"/>
			<xs:enumeration value="CONNECTION COLLISION RESOLUTION"/>
			<xs:enumeration value="OUT OF RESOURCES"/>

			<xs:enumeration value="UNKNOWN ERROR"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enum_attr_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ORIGIN"/>
			<xs:enumeration value="AS_PATH"/>
			<xs:enumeration value="NEXT_HOP"/>
			<xs:enumeration value="MULTI_EXIT_DISC"/>
			<xs:enumeration value="LOCAL_PREF"/>
			<xs:enumeration value="ATOMIC_AGGREGATE"/>
			<xs:enumeration value="AGGREGATOR"/>
			<xs:enumeration value="COMMUNITIES"/>
			<xs:enumeration value="ORIGINATOR_ID"/>
			<xs:enumeration value="CLUSTER_LIST"/>
			<xs:enumeration value="ADVERTISER"/>
			<xs:enumeration value="RCID_PATH"/>
			<xs:enumeration value="MP_REACH_NLRI"/>
			<xs:enumeration value="MP_UNREACH_NLRI"/>
			<xs:enumeration value="EXTENDED_COMMUNITIES"/>
			<xs:enumeration value="AS4_PATH"/>
			<xs:enumeration value="AS4_AGGREGATOR"/>
			<xs:enumeration value="TUNNEL_ENCAP"/>
			<xs:enumeration value="TRAFFIC_ENGR"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>

 </xs:schema>
